config.env
error.log
__pycache__/*
ShicyXd.db
*.session
*.session-journal
TG_BOT_TOKEN.session
TG_BOT_TOKEN.session-journal
ShicyXd/__pycache__/*
ShicyXd/modules/__pycache__/*
ShicyXd/modules/sql_helper/__pycache__/*
.git
.github
.config
.progress
.vscode/*
bin/*
venv
*.pyc 
